@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: rgb(214, 214, 219);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	margin: 0;
	padding: 20px;
}

h1{
	font-family: 'Lora', serif;
}

p{
	text-align: center;
}
.btn{
	color: #000;
	font-size: 12px;
	border: #000 solid 1px;
	border-radius: 3px;
	padding: 5px 12ox;
	margin: 10px 0 10px 0;
}

img{
	width: 25%;
}

.currency{
	display: flex;
	padding: 20px 0;
	align-items: center;
	justify-content: space-around;
}

.currency select{
	padding: 5px 15px 5px 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid rgb(152, 152, 152);
	border-radius: 4px;
	font-size: 12px;
	margin: 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right 7px top 50%, 0 0;
	background-size: 7px auto, 100%;
	background-color: #ffffff;
}

.currency input{
	border: 0;
	background: transparent;
	font-size: 15px;
	text-align: center;
}

.swap-rate-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rate{
	color: black;
	font-size: 15px;
	padding: 0 10px;
}

button,input,select:focus{
	outline: 0;
}

button:hover{
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

@media(max-width: 500px){
	h3{
		font-size: 80%
	}
	h3{
		font-size: 90%;
	}
	.currency input{
		width: 200px;
	}
}